node_modules
.env
dist
pnpm-lock.yaml
coverage
.pnpm-store
**/.DS_Store
apps/macos/.build/
bin/clawdis-mac
apps/macos/.build-local/
apps/macos/.swiftpm/
Core/
apps/ios/*.xcodeproj/
apps/ios/*.xcworkspace/
apps/ios/.swiftpm/
